*{
    font-family: 'Times New Roman', Times, serif;
}
p {                        /* using element selector */
    color: rgb(24, 23, 23);
    text-align: justify;
    line-height: 25px;

}


/* using class selector */

.Google {
    text-decoration: none;
    color: cadetblue;
    text-align: left;
    background-color: black;
}


.Butt {
    color: rgb(6, 249, 26);
    text-align: center;
    background-color: rgb(4, 13, 13);

}


/* using id selector */

#One {
    background-color: blue;
}


.Head {
    text-transform: capitalize;
    text-align: center;
    color: deeppink;
}


#outer {
    font-size: 25px;
    text-align: center;

}


#inner {
    font-size: 15px;
    text-align: center;

}

