*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    color: rgb(125, 28, 112);
}




div{
    background-color: pink;
    height: 100px;
    width: 100px;
    margin:10px;
    text-align: center;
    border: 5px solid black;
    display: flex inline;
    justify-content: center;
    align-items: center;
}

#box1 {
    position: relative;
    top: 30px;

}


#box2 {
    position: absolute;
    right: 1000px
    
}



#box3 {
    position: fixed;
    right: 20px;
    top: 10px;
}
